org-system-recovered-baseline/n8n/workflows/barcode/barcode_webhook_intake.json
{
  "name": "barcode_webhook_intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barcode-intake"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://org-core:8080/api/barcode/intake",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "Forward",
      "name": "Forward to org-core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Forward to org-core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to org-core": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}